extends base.pug

append content
    div(class="col-xs-12 col-md-10 col-md-offset-1 panel panel-default" style={ height: '70%', 'padding-top': '40px', 'margin-top': '60px'})
        .col-xs-12.col-md-10.col-md-offset-1
            if !articles
                h4 作者很懒，什么文章都没有发布
