include loginModal.pug

nav.nav.navbar-default
    .container-fluid
        .navbar-header
            a(class="navbar-brand" href="#") Iron's blog
        .collapse.navbar-collapse
            .navbar-right
                ul.navbar-nav.nav
                    li
                        a(onClick=`$('#login-modal').modal('show')` style={ cursor:  'pointer'}) 登录
script.
    
